[submodule "impress.js"]
	path = impress.js
	url = https://github.com/impress/impress.js.git
[submodule "typed.js"]
	path = typed.js
	url = https://github.com/mattboldt/typed.js.git
[submodule "bootstrap"]
	path = bootstrap
	url = https://github.com/twbs/bootstrap.git
	branch = main
[submodule "markdown_it"]
	path = markdown_it
	url = https://github.com/markdown-it/markdown-it.git
	branch = 6cbb5b2
