[submodule "impress.js"]
	path = impress.js
	url = https://github.com/impress/impress.js.git
[submodule "typed.js"]
	path = typed.js
	url = https://github.com/mattboldt/typed.js.git
[submodule "markdown-it"]
	path = markdown-it
	url = https://github.com/markdown-it/markdown-it.git
